<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GUIccslc.My.MySettings.Setting" connectionString="Persist Security Info=True;Data Source=EDGAR-PC\SQLEXPRESS;Initial Catalog=bd_ccslc;User ID=sa;Password=123456"/>
  </connectionStrings>
  <appSettings>
    <!-- El proveedor ADO.NET -->
    <add key="PROVEEDOR_ADO" value="System.Data.SqlClient"/>
    <!--add key="CADENA_CONEXION" value="Data Source=(local)\sqlexpress;DataBase=DBINVENTARIO;Integrated Security=True"/>-->
    <!-- Conexion TCP/IP -->
    <!--add key="CADENA_CONEXION" value="Data Source=ABASTECIMIENTO\SQLEXPRESS;Initial Catalog=DBRENTAS;User ID=sa;Password=binroot"/>-->
    <add key="CADENA_CONEXION" value="Integrated Security=SSPI;Persist Security Info=False;User ID=SA;Initial Catalog=BDPRUEBA;Data Source=DESKTOP-51QJ1G5\SQLEXPRESS"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
